Header{
    background-color: rgb(45, 143, 160);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
}

h1{
    cursor: pointer;
    color: rgb(245, 245, 245);
    margin-right: 500px;
}
.menu{
    display: flex;
    gap: 20px;
}

.menu h3{
    cursor: pointer;
    color: whitesmoke;
    padding: 5px 10px;
}
.menu h3:hover{
    color:rgb(27, 91, 102);
    border-bottom: 2px  solid rgb(27, 91, 102) ;

}

.selected{
    border-bottom: 2px  solid rgb(27, 91, 102) ;;
}


